<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codeer.Friendly" version="2.5.0" targetFramework="net46" />
  <package id="Codeer.Friendly.Windows" version="2.7.0" targetFramework="net46" />
  <package id="Codeer.Friendly.Windows.Grasp" version="2.7.0" targetFramework="net46" />
  <package id="RM.Friendly.WPFStandardControls" version="1.10.0" targetFramework="net46" />
</packages>